<!-- prettier-ignore -->
<%- include('../partials/header'); %>
<link rel="stylesheet" href="/css/home.css" />
<main class="main">
	<div class="main-container">
		<a href="/create"><button class="action-btns">Take A Challenge</button></a>
		<div class="main-text">
			<button class="text-x">X</button>
			<div class="text">Days of y</div>
		</div>
		<button class="action-btns">See Other's Challenge</button>
	</div>
</main>
<%- include('../partials/footer'); %>
