<%- include('../partials/header'); %>
<link rel="stylesheet" href="/css/auth.css" />
<div class="container">
	<div class="signup-form">
		<form method="post">
			<h2>Register</h2>
			<p class="hint-text">Are you ready to take challenges?</p>
			<div class="form-group">
				<div class="row">
					<div class="col-xs-6">
						<input
							type="text"
							class="form-control"
							name="firstName"
							placeholder="First Name"
							required="required"
						/>
					</div>
					<div class="col-xs-6">
						<input
							type="text"
							class="form-control"
							name="lastName"
							placeholder="Last Name"
							required="required"
						/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<input
					type="email"
					class="form-control"
					name="email"
					placeholder="Email"
					required="required"
				/>
			</div>
			<div class="form-group">
				<input
					type="password"
					class="form-control"
					name="pass"
					placeholder="Password"
					required="required"
				/>
			</div>
			<div class="form-group">
				<input
					type="password"
					class="form-control"
					name="pass2"
					placeholder="Confirm Password"
					required="required"
				/>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success btn-lg btn-block">
					Register Now
				</button>
			</div>
		</form>
		<div class="text-center">
			Already have an account? <a href="/user/login">Sign in</a>
		</div>
	</div>
</div>
<%- include('../partials/footer'); %>
